{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Stats versus goals</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="progress-group">
                <span class="progress-text">Visitors</span>
                <span class="progress-number"><b>{{ stats.visitors.count }}</b>/{{ stats.visitors.goal }}</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-green" style="width: {{ (stats.visitors.count / stats.visitors.goal) * 100 }}%"></div>
                </div>
              </div><!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">Orders</span>
                  <span class="progress-number"><b>{{ stats.orders.count }}</b>/{{ stats.orders.goal }}</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: {{ (stats.orders.count / stats.orders.goal) * 100 }}%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
