{% extends 'AppBundle::base.html.twig' %}

{% block html_title %}{{ 'search_results'|trans }} - {{ parent() }}{% endblock %}

{% block page_title %}{{ 'search_results'|trans }}{% endblock %}

{% block page_content %}

    {% if search == '' %}

        <p>{{ 'no_search_term'|trans }}.</p>

    {% elseif pager|length == 0 %}

        <p>{{ 'no_results_for_query'|trans }} <em>{{ search }}</em>.</p>

    {% else %}

        <p>{{ 'results_for_query'|trans }} <em>{{ search }}</em>.</p>

        {% for result in pager %}

            <div class="well well-large">

                {% if result.type == 'page_translation' %}

                    {{ include('PageBundle:Page:search.html.twig', { 'result': result }) }}

                {% elseif result.type == 'news_article_translation' %}

                    {{ include('NewsBundle:Article:search.html.twig', { 'result': result }) }}

                {% endif %}

            </div>

        {% endfor %}

        {{ pagerfanta(pager, 'twitter_bootstrap3') }}

    {% endif %}

{% endblock %}
