{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block body_attributes %}class="sonata-bc sidebar-mini skin-black fixed"{% endblock %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <img style="max-width: 100px;" src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}" />
                {% endif %}
                {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                    <span>{{ admin_pool.title | raw }}</span>
                {% endif %}
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="https://placeimg.com/160/160/tech" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{ app.user.email }}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="https://placeimg.com/160/160/tech" class="img-circle" alt="User Image">
                        <p>
                            {{ app.user.email }}
                            <small>Member since {{ 'now' | date('d M Y') }}</small>
                        </p>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="user-body">
                            <div class="col-xs-12 text-center">
                                <a href="{{ path('sonata_admin_dashboard', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a> @todo path or remove
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> Logout</a> @todo path or remove
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}{% endblock %}
