{% extends 'NewsBundle::layout.html.twig' %}

{% block page_content %}

    <h1>{{ 'news'|trans }}</h1>
    {% for article in pager.currentPageResults %}
        <div class="well well-large">
            <h2><a href="{{ path('news_article_show', { slug: article.slug }) }}">{{ article.title }}</a></h2>
            <p>{{ article.translatable.date|localizeddate('long', 'none', app.request.locale) }}</p>
            {#<p>{% thumbnail article.translatable.image, 'small' %}</p>#}
            <p>{{ article.content|striptags }}</p>
            <p><a href="{{ path('news_article_show', { slug: article.slug }) }}">{{ 'read_more'|trans }}</a></p>
        </div>
    {% endfor %}

    {{ pagerfanta(pager, 'twitter_bootstrap3') }}

{% endblock %}
